import pandas

spices = ['One-Hot Chili Peppers',
          'Bayesian Basil',
          'Tensor Thyme'
          'Linear Lavender',
          'Artificial Neural Nutmeg',
          'Polynomial Peppermint',
          'Sigmoid Saffron'
          ]
participants = [2, 6, 9, 9, 9, 8]

df = pd.DataFrame({'name': spices,
                   'participants': participants
                   })

print(sort_values(by='participants', ascending=False))

print("\ntotal participants:", df.sum(['participants']))

In [10]:
import pandas as pd

In [11]:
spices = ['One-Hot Chili Peppers',
          'Bayesian Basil',
          'Tensor Thyme'
          'Linear Lavender',
          'Artificial Neural Nutmeg',
          'Polynomial Peppermint',
          'Sigmoid Saffron'
          ]
participants = [2, 6, 9, 9, 9, 8]

In [12]:
df = pd.DataFrame({'name': spices,
                   'participants': participants
                   })

In [13]:
df

                          name  participants
0        One-Hot Chili Peppers             2
1               Bayesian Basil             6
2  Tensor ThymeLinear Lavender             9
3     Artificial Neural Nutmeg             9
4        Polynomial Peppermint             9
5              Sigmoid Saffron             8

In [14]:
print(df.sort_values(by=['participants'], ascending=False))

                          name  participants
2  Tensor ThymeLinear Lavender             9
3     Artificial Neural Nutmeg             9
4        Polynomial Peppermint             9
5              Sigmoid Saffron             8
1               Bayesian Basil             6
0        One-Hot Chili Peppers             2

In [15]:
print("\ntotal participants:", sum(df['participants']))

total participants: 43